<div class="page-title">
  <h4>
      <a routerLink = '/categories'>Категории</a>
      <i class="material-icons">keyboard_arrow_right</i>
       {{ isNew ? 'Добавить' : 'Редактировать'}} категорию
  </h4>
  <span>
      <button 
        class="btn btn-small red"
        (click) = 'deleteCategory()'
        *ngIf = '!isNew'
        title="Удалить категорию"
      >
        <i class="material-icons">delete</i>
      </button>
    </span>
</div>

<div class="row">
  <form class="col s12 l6" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
      <div class="input-field">
          <input
           id="name"
           type="text"
           formControlName = 'name'
           [ngClass] = "{
             'invalid': form.get('name').invalid && form.get('name').touched
           }"
           >
          <label for="name">Название</label>
      </div>
      <span 
        *ngIf = 'form.get("name").invalid && form.get("name").touched'
        class = 'helper-text red-text'
      >
        <span  *ngIf = 'form.get("name").errors["required"]'>
          Название категории не может быть пустым.
      </span>
    </span>

      <div>
          <input type="file" #fileInput class="dn" (change) = 'onFileUpload($event)'>
          <button 
            class="waves-effect waves-light btn orange lighten-2 mb2"
            type = 'button'
            (click) = 'triggerClick()'
            [disabled] = 'form.disabled'
          >
              <i class="material-icons left">backup</i>
              Загрузить изображение
          </button>
      </div>

      <div>
          <button 
            class="waves-effect waves-light btn"
            type = 'submit'
            [disabled] = 'form.invalid || form.disabled'
          >
              Сохранить изменения
          </button>
      </div>
  </form>

  <div class="col s12 l4 center">
      <img class="responsive-img" class="h200" [src] = 'imagePreview' >
  </div>
</div>

<app-positions-form *ngIf = 'category?._id' [categoryId] = 'category._id'></app-positions-form>


