<div class="page-title">
  <h4>
      Обзор за вчера ({{ yesterday }})
      <i class="material-icons black-text pointer"  (click) = 'viewTapTarget()'>info_outline</i>
  </h4>
</div>

<div class="row" *ngIf = 'data$ | async as data; else loader'>
  <div class="col s12 l6">
      <div class="card light-blue lighten-2 white-text">
          <div class="card-content">
              <span class="card-title">Выручка:</span>
              <h3>{{ data.gain.yesterday }} руб.</h3>
              <h3 
              class="m0 mb1"
              [ngClass] = "{
                'green-text text-darken-2': data.gain.isHigher,
                'red-text': !data.gain.isHigher
              }"
              >
                  <i class="material-icons">
                      {{ data.gain.isHigher ? 'arrow_upward' : 'arrow_downward' }} 
                  </i>
                  {{ data.gain.percent }}%
              </h3>
              <p>Выручка вашего бизнеса вчера на {{ data.gain.percent }}% {{ data.gain.isHigher ? 'выше' : 'ниже' }} среднего: {{ data.gain.compare }} руб. в день</p>
          </div>
      </div>
  </div>

  <div class="col s12 l6">
      <div class="card orange lighten-2 white-text">
          <div class="card-content">
              <span class="card-title">Заказы:</span>
              <h3>{{ data.orders.yesterday }} зак.</h3>
              <h3 class="m0 mb1"
                [ngClass] = "{
                    'green-text text-darken-2': data.orders.isHigher,
                    'red-text': !data.orders.isHigher
                }"
              >
                  <i class="material-icons">
                        {{ data.orders.isHigher ? 'arrow_upward' : 'arrow_downward' }} 
                  </i>
                  {{ data.orders.percent }}%
              </h3>
              <p>Число заказов вчера на {{ data.orders.percent }}% {{ data.orders.isHigher ? 'выше' : 'ниже' }} среднего значения: {{ data.orders.compare }} зак. в день</p>
          </div>
      </div>
  </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>


<div class="tap-target" data-target="menu" #tapTarget>
    <div class="tap-target-content">
        <h5>Зачем нужна эта страница?</h5>
        <p>Страница “Обзор” покажет динамику продаж за предыдущий день. Сравнение со средним значениями поможет вам понять, как идут дела у Вашего бизнеса.</p>
    </div>
</div>


<!-- analytics.service getOverView() getAnalytics() OverViewPage({gain: , orders})interface OverViewPageItem data tapTarget dd.MM.YYYY -->