<div class="page-title">
  <h4 *ngIf = 'isRoot'>Заказ</h4>
  <h4 *ngIf = '!isRoot'>
      <a routerLink = '/order'>Заказ</a>
      <i class="material-icons">keyboard_arrow_right</i>
      Добавить продукцию
  </h4>
  <button 
    class="waves-effect btn grey darken-1"
    (click) = 'open()'
    [disabled] = 'orderService.list.length < 1'
    >
      Завершить
  </button>
</div>

<router-outlet></router-outlet>

<div id="explore-order" class="modal modal-fixed-footer" #modal>
  <div class="modal-content">
      <h4 class="mb1">Ваш заказ</h4>
      <table class="highlight">
          <thead>
          <tr>
              <th>Название</th>
              <th>Количество</th>
              <th>Цена</th>
              <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor = 'let item of orderService.list'>
              <td> {{ item.name }} </td>
              <td> {{ item.quantity }} </td>
              <td> {{ item.cost }} </td>
              <td><i 
                class="material-icons pointer"
                (click) = 'deletePosition(item)'
                >delete</i></td>
          </tr>
          </tbody>
      </table>
      <div class="order-summary">
          <p>Общая стоимость: <strong> {{ orderService.price }} р. </strong></p>
      </div>
  </div>
  <div class="modal-footer">
      <button 
        (click) = 'cancel()' 
        class="modal-action waves-effect waves-black btn-flat"
        [disabled] = 'isPending'
        >Отмена</button>
      <button 
            (click) = 'submit()' 
            class="modal-action btn waves-effect"
            [disabled] = 'orderService.list.length < 1 || isPending'
            >Подтвердить</button>
  </div>
</div>
