<form [formGroup] = 'form' (ngSubmit) = 'onSubmit()' class="card">
  <div class="card-content">
      <span class="card-title">Создать аккаунт</span>
      <div class="input-field">
          <input 
            id="email" 
            type="email" 
            formControlName = 'email'
            [ngClass] = "{
                'invalid': form.get('email').invalid && form.get('email').touched
            }"
            >
          <label for="email">Email:</label>
          <span *ngIf = "form.get('email').invalid && form.get('email').touched" class="helper-text red-text">
            <span *ngIf = "form.get('email').errors['required']">Поле "Email" не должно быть пустым.</span>
            <span *ngIf = "form.get('email').errors['email']">Некорректный email-адрес.</span>
          </span>
      </div>
      <div class="input-field">
          <input    
            id="password"
            type="password"  
            formControlName = 'password'
            [ngClass] = "{
                'invalid': form.get('password').invalid && form.get('password').touched
            }"
            >
          <label for="password">Пароль:</label>
          <span *ngIf = "form.get('password').invalid  && form.get('password').touched" class="helper-text red-text">
                <span *ngIf = "form.get('password').errors['required']">Поле "Password" не должно быть пустым.</span>
                <span *ngIf = "form.get('password').errors['minlength']">
                    Пароль должен быть не меньше {{ form.get('password').errors['minlength']['requiredLength'] }}.
                    Сейчас {{ form.get('password').errors['minlength']['actualLength'] }}.
                </span>
          </span>
      </div>
  </div>
  <div class="card-action">
      <button
       class="modal-action btn waves-effect"
       type="submit"
       [disabled] = 'form.invalid || form.disabled'
       >Создать</button>
  </div>
</form>