  <div class="page-title">
      <h4>История заказов</h4>
      <button
        (click) = 'isFilterVisible = !isFilterVisible' 
        class="btn btn-small" 
        [ngClass] = "{
          'active': isFilterVisible,
          'red': isFiltered()
        }"
        data-tooltip="Открыть фильтр"
        data-position = 'left'
        #tooltip
        >
          <i class="material-icons">filter_list</i>
      </button>
  </div>


  <div *ngIf = 'isLoad; else loading'>
      <app-history-filter *ngIf = 'isFilterVisible' (onFilter) = 'applyFilter($event)'></app-history-filter>

      <div *ngIf = 'orders.length'>
        <app-history-list [orders] = 'orders' ></app-history-list>
        <div class="center mb2" *ngIf = '!loadingOrders'>
          <button 
            class="btn waves-effect"
            (click) = 'loadMore()'
            [disabled] = 'noMoreOrders'
            >Загрузить еще</button>
        </div>
      </div>
      <app-loader *ngIf = 'loadingOrders'></app-loader>
      <div class="center" *ngIf = '!orders.length && !loadingOrders'> Список заказов пуст.</div>

  </div>

  <ng-template #loading>
      <app-loader></app-loader>
  </ng-template>

