<div class="filter">
  <div class="fr">
      <div class="col order">
          <div class="input-field inline order-position-input">
              <input type="number" id="number" min="1" [(ngModel)] = 'order' >
              <label for="number">Номер заказа</label>
          </div>
      </div>
      <div class="col filter-pickers">
          <div class="input-field">
              <input type="text" class="datepicker" #start>
              <label>Начало</label>
          </div>

          <div class="input-field">
              <input type="text" class="datepicker" #end>
              <label>Конец</label>
          </div>
      </div>
  </div>

  <button 
    class="btn waves-effect wavers-light btn-small"
    [disabled] = 'isValid' 
    (click) = 'submitFilter()'
    >Применить фильтр</button>
</div>

<!-- onFilter Filter applyFilter start end order initDatePicker { format: 'dd.mm.yyyy', showClearBtn: true, onClose } validate order offset-->