<div class="row" >
  <div class="col s12">
      <div class="page-subtitle">
          <h4>Позиции:</h4>
          <button
             class="waves-effect waves-light btn grey darken-1 btn-small"
             type='button'
             (click) = 'onAddPosition()'
          >
              Добавить позицию
          </button>
      </div>

      <div *ngIf = 'isLoad; else loader'>
        <div class="collection" *ngIf = 'positions.length !== 0; else empty'>
            <a 
                *ngFor = 'let position of positions'
                class="collection-item collection-item-icon"
                (click) = 'onSelectPosition(position)'
                >
                <span>
                    {{ position.name }} <strong>{{ position.cost }} руб.</strong>
                </span>
                <span
                    (click) = 'onDeletePosition($event, position)'
                >
                    <i class="material-icons">delete</i>
                </span>
            </a>
        </div>

        <ng-template #empty>
            <div class="center">Позиции в данной категории отсутствуют.</div>
        </ng-template>
      </div>
      
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>

  </div>

  <form [formGroup] = 'form' (ngSubmit) = 'onSubmit()' >
    <div class="modal" #modalRef>
        <div class="modal-content">
            <h4 class="mb1">Добавить позицию</h4>
            <div class="input-field">
                <input 
                    type="text" 
                    id="pos-name"
                    formControlName = 'name'
                    >
                <label for="pos-name">Название</label>
            </div>
            <span 
                *ngIf = "form.get('name').invalid && form.get('name').touched"
                class="helper-text red-text">Название не должно быть пустым.</span>
            <div class="input-field">
                <input 
                    type="number" 
                    id="pos-cost"
                    min = '1'
                    formControlName = 'cost'
                    >
                <label for="pos-cost">Цена</label>
            </div>
            <span 
                *ngIf = "form.get('cost').touched && form.get('cost').invalid"
                class="helper-text red-text">Введите корректную цену.Она должна быть не меньше 1 руб.</span>
        </div>
        <div class="modal-footer">
          <button
           (click) = 'onClose()'
           type = 'button'
           class="modal-action waves-effect waves-black btn-flat">Отмена</button>
          <button 
            type='submit' 
            class="modal-action btn waves-effect"
            [disabled] = 'form.invalid'
            >
             Сохранить
          </button>
        </div>
    </div>
  </form>

</div>

<!-- helper-text red-text create 'Позиция создана' form.reset positionId completed decision-->